/* Estilos para os cards */
.card {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin: 10px; /* Espaçamento em todos os lados */
  }
  
  /* Estilos para a lista de cards */
  .card-list {
    display: flex;
    gap: 20px; /* Espaçamento entre os cards */
  }
  
  /* Estilos para cada tipo de card */
  .card-total {
    background-color: #ff5252; /* Vermelho */
  }
  
  .card-last-payment {
    background-color: #3c3852; /* Roxo */
  }
  
  .card-days-without-payment {
    background-color: #7257fa; /* Azul */
  }
  
  /* Estilos para o valor total */
  .card__total {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Estilos para a data */
  .card__date {
    font-size: 1rem;
  }
  
  /* Estilos para os dias sem pagamento */
  .card__days {
    font-size: 1rem;
  }
  